@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap');
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    padding-left: 250px;
    padding-top: 30px;
    /*background:url("../images/bgm.png");*/
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15pt;
}
th{
    font-family: segoe ui light;

}
td{
    color: blue;
}

.router{
    margin-top: 50px;
    animation-delay: 0.5s;
    position: absolute;
    left: 40%;
}
i {
    margin-right: 20px;
    color: inherit;
}
.inherit{
    color: inherit;
}


.col-md-6 {
    -ms-flex: 0 0 30%;
    flex: 0 0 50%;
    max-width: 90%;
}
h4{
    position: absolute;
    left: 40%;

}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 80px;
}
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 5px 1px 5px #868686;
}
.router{
    padding: 0px;
}
.navbar-brand{
    margin-top: 10px;
}
.router {
    /* padding: 0px; */
    padding-bottom: 40px;
    padding-left: 20px;
}