@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap');


.container-login100 {
    width: 100%;
    min-height: 100vh;
    padding: 250px;
    background:url("../images/bgm.png");
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15pt;
}
.play{
    margin-top: 50px;
}
.router{
    margin-top: 50px;
    animation-delay: 0.5s;
}
i {
    margin-right: 20px;
    color: inherit;
}
.inherit{
    color: inherit;
}